@import url("https://fonts.cdnfonts.com/css/pokemon-solid-2");

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
}

header a {
  text-decoration: none;
  color: rgb(128, 128, 212);
}

header #logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

header #logo img {
  width: 60px;
  height: auto;
  margin: 15px;
  margin-right: 5px;
}

header #logo h2 {
  font-family: "Pokemon Solid", sans-serif;
  font-size: x-large;
}

header nav {
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

header nav a {
  font-family: "Pokemon Solid", sans-serif;
  font-size: x-large;
  margin: 15px;
}

hr {
  margin: 15px;
  height: 3px;
  border: none;
  background-color: rgb(128, 128, 212);
}

main h1 {
  text-align: center;
  font-size: 45px;
  font-family: "Pokemon Solid", sans-serif;
  color: rgb(128, 128, 212);
}

.container {
  display: flex;
}

.section1,
.section2 {
  margin: 30px;
}

.section1 {
  align-items: center;
}

.section1 #search-bar {
  padding: 8px 16px;
  width: 300px;
  border: 2px solid rgb(128, 128, 212);
  background-color: rgb(220, 220, 230);
  text-align: left;
  border-radius: 5px;
}

.section1 input[type="checkbox"] {
  margin: 20px 10px;
  width: 20px;
  height: 20px;
  background-color: rgb(220, 220, 230);
}

.section1 label {
  font-weight: bolder;
  font-style: italic;
}

label[for="lendario"] {
  color: rgb(255, 136, 0);
}

label[for="iniciais"] {
  color: royalblue;
}

.boxes {
  display: flex;
  align-items: center;
}

#pokemon-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  align-items: center;
}

.pokemon-card {
  width: 250px;
  height: 300px;

  background-color: rgb(220, 220, 230);
  border-radius: 10px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;
  transition: 0.2s;
}

.pokemon-card img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.pokemon-card:hover {
  scale: 1.08;
  transition: 0.2s;
}

.tipos {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 10px;
}

.tipo {
  padding: 6px 12px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.planta {
  background-color: green;
}

.veneno {
  background-color: purple;
}

.fogo {
  background-color: orange;
}

.voador {
  color: rgb(59, 95, 107);
  background-color: rgb(207, 243, 255);
}

.água {
  background-color: royalblue;
}

.inseto {
  background-color: rgb(173, 194, 56);
}

.normal {
  background-color: lightslategray;
}

.elétrico {
  background-color: rgb(231, 204, 2);
}

.terrestre {
  background-color: rgb(161, 115, 82);
}

.fada {
  background-color: palevioletred;
}

.lutador {
  background-color: rgb(193, 80, 0);
}

.psíquico {
  background-color: rgb(184, 79, 127);
}

.pedra {
  background-color: rgb(103, 75, 57);
}

.metal {
  background-color: rgb(105, 101, 101);
}

.gelo {
  background-color: rgb(129, 170, 209);
}

.fantasma {
  background-color: rgb(50, 9, 55);
}

.dragão {
  background-color: rgb(146, 27, 27);
}
